.home-container {
  background-color: #0d1117;
  color: white;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #facc15;
  border-left: 4px solid #facc15;
  padding-left: 10px;
}

.card-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card-list img {
  width: 160px;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.card-list img:hover {
  transform: scale(1.05);
}

.info-section {
  background-color: #1e1e2f;
  margin-bottom: 2rem;
  padding: 20px;
  border-top: 2px solid #facc15;
  border-bottom: 2px solid #facc15;
  border-radius: 8px;
  text-align: center;
}

.info-section h1,
.info-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.info-section p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
}

.info-section ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 1rem;
}

.info-section ul li {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 20px;
}

.info-section ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #facc15;
}

/* Estilos específicos para os títulos dos filmes na página Home */
.home-container .movie-title {
  font-size: 12px !important;
  padding: 6px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
